/* Global Styles */
:root {
  --primary-color: #e76f51;
  --dark-color: #343a40;
  --light-color: #eeeeee;
  --grey-color: #dfdfdf;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --background-color: #e2e2e2ea;
  --priority-color: #2cdd58;
  --navColor: #264653;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--background-color);
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  /* margin-left: 10%; */
  /* padding-left: 25%; */

  margin-top: 2%;
  /* padding-right: 15%; */
  overflow: hidden;
  /* padding: 0 2rem; */
  padding-top: 6rem;

  max-width: 100%;
  max-height: 100%;

  background-color: var(--background-color);
}
.searchBar {
  padding-bottom: 1rem;
}
.searchBarInput {
  width: 100%;
  padding: 1rem;
}

.lead2 {
  font-size: 2rem;
}

.ticketTitle {
  background-color: #2cdd58;
}

.containerLoginRegister {
  margin-top: 80px;
  background-color: rgb(214, 173, 173);
  max-width: 100%;
  overflow: hidden;
}

.outer {
  height: 100%;
  text-align: center;
  margin-bottom: 3%;
  /* margin-right: 15%; */
  border-width: 3rem;
  margin-top: 5%;
  /* margin-bottom: 10%; */
}

.outerProjectTitle {
  height: 100%;
  text-align: center;
  margin-bottom: 3%;
  /* margin-right: 15%; */
  border-width: 3rem;
  /* margin-top: 5%; */
  /* margin-bottom: 10%; */
}

.pageWidth {
  padding: 3rem;
  max-width: 75%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: white;
}

.inner {
  height: 45rem;
  width: 35rem;
  display: inline-block;
  background-color: #ffffff;
  border-width: 3rem;
  border-radius: 3%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.loginPage {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.largePostsTitle {
  font-size: 4.5rem;
  align-self: center;
  color: var(--primary-color);
  margin-left: 20%;
}

.largeSignIn {
  font-size: 5rem;
  line-height: 1.2;
  margin-bottom: 6rem;
  margin-top: 3rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-primaryDash {
  color: var(--primary-color);
  font-size: 2rem;
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 10rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}

.my-5 {
  margin-bottom: 1rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}
.my-project {
  margin-left: 25%;
  margin-right: 25%;
}

.btn {
  display: inline-block;
  background: var(--grey-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.graph {
  margin-top: 4rem;
  height: 75%;
  width: 45%;
  margin-right: 2.5%;
  /* background-color: rgb(255, 251, 251); */
}

.graphsDesc {
  width: 80%;
  height: 50rem;
  margin-right: 0%;
  margin-left: 0%;
  flex-direction: column;
  background-color: var(--success-color);
}

.pie {
  margin-top: 4rem;
  height: 75%;
  width: 45%;
}

.graphs {
  display: flex;
  margin-right: 0%;
  margin-left: 0%;
  flex-direction: row;
}

.pageWrapper {
  width: 50%;
}

.pageWrapperMarginForNav {
  margin-left: 15%;
}

.dashLoggedInAs {
  margin-top: 1rem;
  margin-left: 6rem;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

.navLogout {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  margin-left: 90%;
}

.barGraph {
  margin-top: 4rem;
  height: 75%;
  width: 45%;
  margin-right: 0%;
  /* background-color: rgb(255, 251, 251); */
}

.btnDash {
  width: 16rem;
  display: inline-block;
  background: white;
  color: #333;
  padding: 0.7rem 1.3rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-right: 1.8rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.addTicket {
  width: 16rem;
  display: inline-block;
  background: var(--grey-color);
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-right: 1.8rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.addTicket:hover {
  background-color: #b8b8b8; /* Green */
  /* color: rgb(197, 188, 188); */
  color: black;
}

.btnDashTickets {
  width: 46%;
  display: inline-block;
  background: var(--grey-color);
  color: #333;
  padding: 0.7rem 1.3rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}
.btnDashTickets:hover {
  background-color: #b8b8b8; /* Green */
  /* color: rgb(197, 188, 188); */
  color: black;
}

.ticketText {
  padding-top: 2rem;
}

.menuButtonsLarge {
  width: 16rem;
  display: inline-block;
  margin-top: 20%;
  color: rgb(255, 255, 255);
  padding: 0.7rem 1.3rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-right: 1.8rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  font-size: 2rem;
}

.noProjects {
  margin-left: 15%;
}
.noProjectsText {
  font-size: 2rem;
}

.menuButtons {
  width: 16rem;
  display: inline-block;
  margin-top: 10%;
  color: rgb(255, 255, 255);
  /* padding: 0.7rem 1.3rem; */
  padding-left: 1.7rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-right: 1.8rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}
.menuButtons:hover {
  /* color: rgb(197, 188, 188); */
  color: var(--primary-color);
}

.btnDashProjects {
  /* width: 10rem;
  max-width: 15rem;
  background: var(--light-color);
  color: #333;
  padding: 0.7rem;
  font-size: 1rem; */
  /* font-weight: bold; */
  /* border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  margin-right: 2rem; */

  padding: 3;
  margin: 0;
  margin-left: 10px;
  color: #000000;
  background-color: #fff;
  border: 2px solid #fff;
  height: 2rem;
  width: 8rem;
  font-size: 1rem;

  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  box-sizing: border-box;
}

.btnDashProjects:hover {
  background-color: #b8b8b8; /* Green */
  /* color: rgb(197, 188, 188); */
  color: black;
}

.btnDash:hover {
  background-color: #b8b8b8; /* Green */
  /* color: rgb(197, 188, 188); */
  color: black;
}
.largeDash {
  font-size: 4rem;
}

.dashHeading {
  margin-left: 10%;
}

.deleteProfile {
  margin-left: 10%;
  margin-top: 10%;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  align-self: center;
  margin-left: 40%;
  justify-content: center;
  max-width: 40%;
  padding: 0.8rem;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type="submit"],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

.navbarSide {
  width: 15%;
  height: 80%;
  background-color: #28a745;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Landing Page */
.landing {
  position: relative;
  background: url("showcase.jpg") no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Profiles Page */
.profile {
  /* margin-left: 20rem; */
  width: 100%;

  max-width: 100%;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.tickets {
  /* margin-left: 20rem; */
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  /* height: 20%; */
  display: inline-block;
}

.tickets2 {
  /* margin-left: 20rem; */
  background-color: #888;

  padding: 2rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  /* height: 20%; */
  /* display: inline-block; */
}

.projectWrapper {
  max-height: 55rem;
  width: 29rem;
  max-width: 100%;
  margin-left: 200px;
  padding: 2rem;
  background-color: #ffffff;
  /* box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8); */
}

.projectsWrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas:
    "a a a a b b b b"
    "a a a a b b b b"
    "c c c c d d d d"
    "c c c c d d d d";
  align-items: start;
}
.item1 {
  grid-area: a;
}
.item2 {
  grid-area: b;
}
.item3 {
  grid-area: c;
}
.item4 {
  grid-area: d;
}

.projectsIcons {
  display: inline-block;
}

.projectsButtonDisplay {
  display: inline-block;
}

.projectDescriptionLeft {
  justify-content: left;
  margin-left: 0px;
}

.projectDescriptionRight {
  justify-content: right;
}

.projectDescription {
  padding: 2rem;
  text-align: left;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
  height: 50%;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);

  /* align-items: center;
  
  min-height: 40rem; */
}

.projectDescriptionText {
  /* background-color: var(--danger-color);
  font-size: 1.5rem;
  max-width: 30%;
  margin-left: 80%; */
}

.divHeading {
  padding: 1rem;
  /* background-color: var(--navColor); */
}

.projectWrapperTickets {
  width: 50%;
  /* max-height: 55rem; */

  margin-left: 5%;
  margin-right: 5%;
  padding: 2rem;
  background-color: #ffffff;
  /* box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8); */
  margin-bottom: 5rem;
}

.projectWrapperTicket {
  width: 50%;
  max-height: 35rem;

  margin-left: 5%;
  margin-right: 5%;
  background-color: #ffffff;
  /* box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8); */
  margin-bottom: 5rem;
}

.ticketButtons {
  display: block;
}

.ticketGrid {
  display: grid;
  grid-template-areas: "exp edu btn";
  grid-gap: 1rem;
}

.ticket-btn {
  margin-left: 65%;
  width: 50%;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas:
    "top top"
    "about about"
    "exp edu"
    "github github";
  grid-gap: 1rem;
}

.project-grid {
  display: grid;
  grid-template-areas: "exp edu btn";
  grid-gap: 1rem;
}
.projectsHeading {
  text-align: center;
  background-color: var(--navColor);
  padding-bottom: 3px;
  margin-bottom: 3px;
  color: rgb(235, 235, 235);
  border-width: 2px;
}
.project-exp {
  grid-area: exp;
  margin-left: 30%;
  font-size: 1.3rem;
}

.tickets-heading {
  display: inline;
}

.project-expTickets {
  grid-area: exp;
  margin-left: 1rem;
  font-size: 1.3rem;
}

.project-btn {
  grid-area: btn;
  /* display: inline-block; */

  /* margin-left: 30%; */
  font-size: 1.3rem;
}

.project-edu {
  grid-area: edu;
  font-size: 1.3rem;
  padding-right: 20;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* Posts Page */
/* .post-form .post-form-header {
  padding-right: 20%;
  padding-left: 20%;
  background-color: #28a745;

  padding: 0.5rem;
} */

.post-form {
  border-width: 5px;
  border-color: #333;
  vertical-align: top;
  padding-right: 20%;
  padding-left: 20%;
  display: block;
}

.marginTicket {
  margin-right: 4rem;
  margin-left: 3rem;
}

.textAreaSize {
  min-width: 85%;
  min-height: 5rem;
  padding-right: 5%;
  padding-top: 1rem;
  padding-left: 5%;
  margin-right: 2%;
  margin-bottom: 1rem;
  /* margin-bottom: 3rem; */
  /* margin-left: 15%; */
}

.textAreaSizeTicket {
  max-height: 10rem;
  min-width: 85%;
  min-height: 5rem;
  padding-right: 5%;
  padding-top: 1rem;
  padding-left: 5%;
  margin-right: 2%;
  /* margin-bottom: 3rem; */
  /* margin-left: 15%; */
}
.posts {
  padding-left: 20%;
  padding-right: 20%;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1rem;
  align-items: center;
  max-width: 100%;
}

.inline {
  margin-top: 1rem;
  display: block;
  border-width: 5px;
  border-color: #333;
  /* background-color: #28a745; */
}
.btnSubmit {
  vertical-align: top;

  margin-top: 1rem;
  width: 5rem;
  height: 3rem;
}
.project {
  /* grid-template-columns: auto auto auto auto;
  grid-gap: 1rem; */

  align-items: center;
  max-width: 75%;
  justify-content: center;
  /* display: inline-flex;
  border-width: 2px;
  border-color: #343a40; */
  margin-left: 25%;
  margin-right: 15%;
}

.projectTcikets {
  /* grid-template-columns: auto auto auto auto;
  grid-gap: 1rem; */

  align-items: center;
  /* max-width: 75%; */
  justify-content: center;
  /* display: inline-flex;
  /* margin-left: 25%;
  margin-right: 25%; */
}

.scroll {
  overflow-y: auto;
  max-height: 41rem;
  margin-right: 25%;
  margin-left: 25%;
}

.projectHoz {
  display: inline-flex;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.rowC {
  display: flex;
  flex-direction: row;
}

.projectPage {
  display: inline;
}

.mediumtext {
  font-size: 1.8rem;
  /* font-weight: bold; */
  color: #000000;
  margin-left: 3rem;
}
.medium {
  font-size: 1.8rem;
  /* font-weight: bold; */
  color: #ffffff;
  margin-left: 3rem;
}
.projectsButtonsLayout {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 1rem;
}

.projectManagerDiv {
  margin-left: 1rem;
}

.projectManager {
  padding-left: 1rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #000000;
}
.projectManager:hover {
  /* color: var(--primary-color); */
  color: var(--primary-color);
  margin-left: 1rem;
}
/* Mobile Styles */
@media (max-width: 700px) {
  .project {
    /* grid-template-columns: auto auto auto auto;
    grid-gap: 1rem; */
    align-items: center;
    max-width: 90%;
    justify-content: center;
    /* display: inline-flex; */
    border-width: 1px;
    border-color: #343a40;
    margin-left: 5%;
    margin-right: 5%;
  }

  .graphs {
    display: flex;
    margin-right: 0%;
    margin-left: 0%;
    flex-direction: column;
  }

  .graphsDesc {
    height: 50rem;
    display: flex;
    margin-right: 0%;
    margin-left: 0%;
    flex-direction: column;
  }

  :root {
    --primary-color: #4080f8;
    --dark-color: #343a40;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
  }

  /* .container {
    margin-top: 8rem;
  } */

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .Large {
    font-size: 2rem;
  }

  .medium {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  .lead2 {
    font-size: 2rem;
  }

  .leadM {
    font-size: 1rem;
    margin-left: 20%;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  /* Profiles Page */
  /* .profile {
    grid-template-columns: 1fr;
    text-align: center;
  } */

  /* .profileProject {
    grid-template-columns: 1fr;
    text-align: center;
  } */

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      "top"
      "about"
      "exp"
      "edu"
      "github";
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }

  .scroll {
    max-height: 200px;
    overflow-y: scroll;
  }
  .rows .row {
    display: inline-block;
  }
  .center {
    align-items: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
  }
}
